/* styles.css */
.query-editor-container-workspace-select > div,
.variable-query-editor-container-workspace-select > div {
  flex: 1 1 auto !important;
}

/* Fix Query InlineField flex to allow shrinking and prevent overflow */
.query-editor-container-query-field,
.query-editor-container-query-field > div {
  flex: 1 1 auto !important;
  min-width: 0 !important;
}